/* CSS files add styling rules to your content */

body {
  margin: 0em;
  font-family: 'Itim', cursive;
}

.cover {
  height:400px;
  background-image:url(https://cdn.glitch.com/6db8ca25-c772-4212-a62b-19410518a076%2Frsz_sharon-mccutcheon-s4ragio2eyi-unsplash_1.jpg?v=1620581574931 );
  color:white;
  background-size: cover;
  background-position:center;
  background-color:rgba(0,0,0,0.1);
  background-blend-mode:darken ;
}
.card{
  border: 0 !important;
  box-shadow: 0 4px 6px  -1px rgba(0, 0, 0, 0.1), 0 2px  4px -1px rgba(0, 0, 0, 0.6)
}